.button {
  background-color: transparent;
  color: #7b8794;
  font-weight: bold;
  border: none;
  padding: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #7b8794;
}
.button-active {
  background-color: transparent;
  color: #2563eb;
  font-weight: bold;
  border: none;
  padding: 10px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #2563eb;
}
